body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}
.product-container {
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
  color: black;
}

.product-gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image {
  width: 300px;
  border-radius: 5px;
}
.thumbnail-container {
  display: flex;
  margin-top: 10px;
}
.thumbnail {
  width: 80px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.product-info {
  flex: 1;
  padding-left: 20px;
}
.price {
  font-size: 1.5rem;
  color: #333;
}
.rating {
  margin: 10px 0;
}
.variants {
  margin: 10px 0;
}
.variant-colors {
  display: flex;
  gap: 10px;
}
.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid #ccc;
}
.black {
  background: black;
}
.beige {
  background: beige;
}
.gray {
  background: gray;
}
input[type="text"] {
  width: 96.5%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.order-btn {
  width: 100%;
  padding: 10px;
  background: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.order-btn:hover {
  background: #555;
}
